
FCVersionControllerSample/.DS_Store

*.xcbkptlist

FCVersionControllerSample/.DS_Store

*.xcuserstate

*.xcuserstate

FCVersionControllerSample/FCVersionControllerSample.xcodeproj/project.xcworkspace/xcuserdata/Harley-xk.xcuserdatad/UserInterfaceState.xcuserstate
